{
  "presets": [
    [
      "@babel/env"
    ],
    "@babel/typescript"
  ],
  "ignore": [
    "src/client/**/*"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "babel-plugin-module-resolver", {
        "root": ["."],
        "alias": {
          "@shared": "./src/shared",
          "@helpers": "./src/helpers",
          "@controllers": "./src/controllers",
          "@data": "./src/data",
          "@models": "./src/models",
          "@services": "./src/services"
        }
      }
    ],
  ]
}