// Move to separate component
.orderBox {
  width: 13%;
  font-family: monospace;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  background: rgba(255,255,255, .4);
  padding: 5px;
}