@import '@client/app/variables/colors.scss';

.gameBoard {
  position: relative;
  border: 2px solid $shadow;
  border-radius: 4px;
  background-image: url(/assets/paperTexture.jpg);
  background-size: contain;
  width: 100%;
  max-width: 80vh;
  @media screen and (max-width:767px) and (orientation:landscape) {
    max-width: 100%;
  }
}

.unit {
  pointer-events: none;
}

// Move to separate component
.orderBox {
  width: 15%;
  top: 0;
  font: arial;
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  background: rgba(255,255,255, .4);
  padding: 5px;
}