@import url('https://fonts.googleapis.com/css?family=Notable|Arvo&display=swap');
@import 'variables/colors';

body {
  background-color: $offwhite;
  margin: 8px 0;
}

.page {
  animation: fadein 1s;
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  font-family: 'Notable', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

input,button {
  font-family: 'Arvo', Calibri, sans-serif;
  color: $shadow;
  font-size: 18px;
  height: 24px;
  border-radius: 3px;
  background-color: $offwhite;
  margin: 10px 0px;
  box-sizing: border-box;
  text-align: center;
}
